Repository GO-SOPT-GROUP5/ohouse-client, pull requests merged in 2023-05, with the labels that each got.

#9 [ List/7 ] 매물 목록(ListPage)와 내부 컴포넌트 기본 UI 구현
  .github/ISSUE_TEMPLATE/기능별-이슈-템플릿.md
  .github/PULL_REQUEST_TEMPLATE.md
  .prettierrc.cjs
  package.json
  src/assets/icon/ic_left.svg
  src/assets/icon/ic_plus.svg
  src/assets/icon/ic_right.svg
  src/assets/icon/ic_small_line.svg
  src/assets/icon/ic_star.svg
  src/assets/icon/index.ts
  src/assets/image/img_explanation_1.svg
  src/assets/image/img_explanation_2.svg
  src/assets/image/img_explanation_3.svg
  src/assets/image/img_explanation_4.svg
  src/assets/image/img_explanation_5.svg
  src/assets/image/img_room_1.svg
  src/assets/image/index.ts
  src/components/Help/Help.tsx
  src/components/List/AddBox.tsx
  src/components/List/ProductBox.tsx
  src/main.tsx
  src/pages/ListPage.tsx
  src/styles/theme.ts
  tsconfig.json
  yarn.lock
Labels: 🏢 List, 🎨 Design

#17 [ Home/13 ] 홈 화면 하단 광고 배너 구현
  .pnp.cjs
  .yarn/cache/ssr-window-npm-4.0.2-01f9c0151e-df18260092.zip
  .yarn/cache/swiper-npm-9.3.2-a973b47a13-9ccb6a0ef6.zip
  package.json
  src/assets/icon/ic_right_small.svg
  src/assets/icon/index.ts
  src/assets/image/img_banner1.svg
  src/assets/image/img_banner2.svg
  src/assets/image/img_banner3.svg
  src/assets/image/img_banner4.svg
  src/assets/image/img_banner5.svg
  src/assets/image/index.ts
  src/components/Home/AdBanner.tsx
  src/constants/homeBanner.ts
  src/pages/HomePage.tsx
  yarn.lock
Labels: 🏡 Home, ✨ Feature, 🎨 Design

#14 [ Help/4 ] Help 컴포넌트 Carousel 구현하기
  .github/ISSUE_TEMPLATE/기능별-이슈-템플릿.md
  .github/PULL_REQUEST_TEMPLATE.md
  .pnp.cjs
  .prettierrc.cjs
  .yarn/cache/ssr-window-npm-4.0.2-01f9c0151e-df18260092.zip
  .yarn/cache/swiper-npm-9.3.2-a973b47a13-9ccb6a0ef6.zip
  package.json
  src/assets/image/explanation_5.svg
  src/assets/image/img_explanation_1.svg
  src/assets/image/img_explanation_2.svg
  src/assets/image/img_explanation_3.svg
  src/assets/image/img_explanation_4.svg
  src/assets/image/img_explanation_5.svg
  src/assets/image/index.ts
  src/components/Help/Help.jsx
  src/components/Help/Help.tsx
  src/main.tsx
  yarn.lock
Labels: 💬 Help, ✨ Feature, 🎨 Design

#21 [ Home/20 ] 홈 화면 합치기 얍
  src/components/Home/AdBanner.tsx
  src/pages/HomePage.tsx
Labels: 🏡 Home, 🎨 Design

#10 [ Common/6 ] 푸터 ui 구현
  .github/PULL_REQUEST_TEMPLATE.md
  .prettierrc.cjs
  src/assets/icon/ic_CsVector.svg
  src/assets/icon/ic_DnvMark.svg
  src/assets/icon/ic_IsmsMark.svg
  src/assets/icon/ic_social.svg
  src/assets/icon/index.ts
  src/components/common/Footer.tsx
  src/main.tsx
Labels: 🧩 Common, 🎨 Design

#8 [ Common/2 ] 헤더 ui 구현
  src/assets/icon/ic_alarm.svg
  src/assets/icon/ic_bookmark.svg
  src/assets/icon/ic_button_write.svg
  src/assets/icon/ic_cart.svg
  src/assets/icon/ic_profile.svg
  src/assets/icon/ic_search.svg
  src/assets/icon/index.ts
  src/components/common/Header.tsx
  src/constants/headerLnbList.ts
Labels: 🧩 Common, 🎨 Design

#15 [ Checklist/5 ] 매물 등록 UI 구현
  src/assets/icon/ic_address.svg
  src/assets/icon/ic_camera.svg
  src/assets/icon/ic_cancel.svg
  src/assets/icon/ic_edit.svg
  src/assets/icon/ic_star.svg
  src/assets/icon/index.ts
  src/components/CheckList/ProductEditModal.tsx
  src/components/CheckList/ProductUpload.tsx
  src/pages/CheckListPage.tsx
  src/styles/GlobalStyle.ts
  src/styles/theme.ts
Labels: ✅ CheckList, 🎨 Design

#25 [ Common/24 ] 메인레이아웃 완성
  src/components/common/Footer.tsx
  src/components/common/Header.tsx
  src/pages/MainLayout.tsx
Labels: 🧩 Common, 🎨 Design

#28 [ Common/26 ] 에러페이지
  src/Router.tsx
  src/assets/icon/ic_button_error_report.svg
  src/assets/icon/index.ts
  src/components/common/Error.tsx
  src/components/common/Error404.tsx
  src/pages/ErrorPage.tsx
  src/styles/theme.ts
Labels: 🎨 Design, 🔥ErrorPage

#39 [ List api/36 ] 매물 목록 조회 "더미" 연결
  src/components/List/ProductBox.tsx
  src/lib/product.ts
  src/pages/ListPage.tsx
  src/types/product.ts
Labels: 🏢 List, ✨ Feature, 📬 API

#45 [ List modal/43 ] 매물 박스의 더보기 모달 구현
  .eslintrc.cjs
  src/assets/icon/ic_back.svg
  src/assets/icon/ic_more.svg
  src/assets/icon/index.ts
  src/components/List/MoreModal.tsx
  src/components/List/ProductBox.tsx
  src/pages/ListPage.tsx
Labels: 🏢 List, ✨ Feature, 🎨 Design

#46 [ List modal/44 ] 삭제 재확인 모달 UI 구현
  src/components/List/DeleteModal.tsx
  src/components/List/MoreModal.tsx
  src/hooks/useModal.ts
  src/pages/ListPage.tsx
Labels: 🏢 List, ✨ Feature, 🎨 Design

#49 [ CheckList/33 ] 매물 등록 UI 수정 및 세부 기능 구현
  package.json
  src/assets/icon/ic_star_filled.svg
  src/assets/icon/ic_translate.svg
  src/assets/icon/index.ts
  src/components/CheckList/ProductContract.tsx
  src/components/CheckList/ProductEditModal.tsx
  src/components/CheckList/ProductUpload.tsx
  src/lib/product.ts
  src/types/axios.ts
  src/types/category.ts
  yarn.lock
Labels: ✅ CheckList, ✨ Feature

#53 [ List api/47 ] 찐 서버 통신 싹다
  .eslintrc.cjs
  src/assets/icon/ic_back.svg
  src/assets/icon/ic_more.svg
  src/assets/icon/index.ts
  src/components/List/DeleteModal.tsx
  src/components/List/MoreModal.tsx
  src/components/List/ProductBox.tsx
  src/components/common/Header.tsx
  src/hooks/useModal.ts
  src/lib/axios.ts
  src/lib/product.ts
  src/pages/ListPage.tsx
  src/types/product.ts
  yarn.lock
Labels: 🏢 List, ✨ Feature, 📬 API, 🚨 Code Review

#66 List api/48
  src/components/List/AddBox.tsx
  src/components/List/ProductBox.tsx
  src/pages/ListPage.tsx
Labels: 🏢 List, ✨ Feature

#65 [ common/64 ] 헤더 lnb 언더바 위치 조정
  src/components/common/Header.tsx
Labels: 🧩 Common, 🎨 Design

#75 [ Checklist/74 ] 매물 정보 수정 모달 창 -> 내용 받아오게 수정
  src/components/CheckList/ProductContract.tsx
  src/components/CheckList/ProductUpload.tsx
  src/components/Home/MenuBox.tsx
  src/pages/HomePage.tsx
  src/recoil/atom.ts
  src/types/category.ts
Labels: ✅ CheckList, 🐞 BugFix, 🚨 Code Review
